<% layout('layouts/boilerplate')%>

<%# For displaying the cluster map %>
<div id="cluster-map"></div>

<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<% for (let campground of campgrounds){%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if (campground.images.length) { %>
            <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
            <% } else { %>
                <%# If no image is provided for a campground, this is the default image %>
                <img crossorigin="anonymous" class="img-fluid" alt="" src="https://res.cloudinary.com/dnfeatqhz/image/upload/v1721770047/CampgroundsApp/snwpbkd8ev8iig2niuv0.jpg">
            <% } %>

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>

<%# Creating a cluster map on the index page using all of the coordinates from the database %>

<script>
    //EJS can't be placed within JS files and are included here before the script below gets called
    //This is also to centralize the api key variable from the .env file as it's reused in several places, making it easier to update
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/clusterMap.js">
    //The code for the cluster map being rendered on the index page
</script>